fastText-0.9.2/
input-folder/
output-folder/
ipzs/
wandb/
# Jupyter notebook checkpoints
.ipynb_checkpoints/

data/
models/

# Python cache
__pycache__/
python-version
.python-version

# Environment variables
.env